.container {
  padding: 8px;
  border: 1px solid #ccc;
  display: inline-block;

  .input {
    line-height: 20px;
    min-height: 20px;
  }

  .input-view {
    line-height: 20px;
    overflow: hidden;
    word-break: break-all;
    min-height: 20px;
  }
}

